---
import { MyIcon } from '@/components/icons/MyIcon'
import styles from './MyHeader.module.scss'
---

<div class={styles.header}>
  <div class='hero is-small'>
    <div class={`hero-body ${styles.header_body}`}>
      <div class={styles.header_logo}>
        <div class={styles.header_icon}>
          <MyIcon name={'react'} />
        </div>
        <h1>
          <a href='/'>DemoSite</a>
        </h1>
      </div>

      <div class={styles.header_menu}>
        <MyIcon name={'menu'} />
      </div>
    </div>
  </div>
</div>
